:root {
    --size: clamp(10rem, 1rem+40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

body {
    background-color: #f3f3f3;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    /* background-color: bisque; */
    background-color: #cdcdc9;
}

.navbar-brand {
    font-size: 2rem;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Lobster', cursive;
    color: red;
}

.navbar-brand:hover {
    /* background-color: blue; */
    color: blue;
}

#mainNavbar .nav-link:hover {
    color: blue;
}

/* #mainNavbar .nav-link {
    padding-left: 1.5rem;
} */

#mainNavbar .socialLinks {
    font-size: 1.5rem;
    width: 35px;
}

.profile-icons {
    width: 30px;
}

#mainNavbar .socialLinks:hover {
    color: blue;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 500;
}

.content {
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.greeting {
    font-size: 100px;
}

.intro {
    padding-left: 2.5em;
}

h4 {

    text-align: center;
}

.profile-head {
    padding-top: 50px;
    /* display: flex; */
    overflow: hidden;
    gap: var(--gap);
}

.profile-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: scroll-x var(60s) linear infinite;
}

.profile {
    border-radius: 50%;
    text-align: center;
}

#profile {
    text-align: center;
}


.profile-h2 {
    padding-bottom: 20px;
}

.card {
    width: 18rem;
}

.projects {
    text-align: center;

}

#projects {
    padding-bottom: 20px;
}

.card-text {
    text-align: left;
}

.licence {
    float: right;
}

.card-img-top {
    padding-top: 20px;
}