body {
    background-color: #f3f3f3;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    /* background-color: bisque; */
    background-color: #ebebe8;
}

.navbar-brand {
    font-size: 2rem;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Lobster', cursive;
    color: red;
}

.navbar-brand:hover {
    /* background-color: blue; */
    color: blue;
}

#mainNavbar .nav-link:hover {
    color: blue;
}

#mainNavbar .nav-link {
    padding-left: 1.5rem;
}

#mainNavbar .socialLinks {
    font-size: 1.5rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 500;
}

.content {
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

img {
    border-radius: 50%;
}